@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* COLORS */
:root {
  --primary-color: #ccc;
  --font-color: #1abc9c;
  --font-hover: #148f77;
}
/* END COLORS */

/* PRIMARY STYLING */
h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

p {
  font-size: 1.4rem;
  line-height: 1.2;
}

li {
  list-style: none;
}

a {
  font-weight: 700;
  font-size: 1.6rem;
  text-decoration: none;
  color: var(--font-color);
  margin: 0 1rem 0 1rem;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: var(--font-hover);
  /* border-bottom: 0.2rem solid var(--font-hover); */
}

.mainContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

button {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.8rem;
  font-size: 1.2rem;
  background: #fff;
  color: var(--font-color);
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

button:hover {
  color: var(--font-hover);
  background: #ddd;
}
/* END PRIMARY STYLING */

body {
  font-size: 62.5%;
  color: var(--font-color);
  text-transform: uppercase;
  background: var(--primary-color);
  font-family: "Acme", sans-serif;
}

.navbar {
  padding: 0.6rem 0;
  background: rgba(0, 0, 0, 0.6);
}

.contents {
  max-width: 80%;
  padding: 1.2rem;
  margin: 2rem auto;
  background: #ddd;
  text-align: center;
  border: 0.2rem solid #b3b6b7;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.75);
}

.blog_preview {
  padding: 0.4rem;
  margin: 0.4rem 0;
  font-size: 1.4rem;
  background: #ccc;
  font-weight: 700;
  box-shadow: 1px 1px 4px #444;
}
